*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(92, 86, 86) ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-logo{
    width: 130px;
}
.menu-items{
    list-style: none;
    color: white;
    display: flex;
}
.item-no{
    margin-right: 20px;
    pad: 7px;
    font-size: large;
    font-weight: bold;
    font-family: serif;
}
.item-no:hover{
    color: aqua;
    cursor: pointer ;
}
.banner-container{
    display: flex;
    /* background-color: black; */
    justify-content: space-around;
    flex-direction: row-reverse;
    height: 100vh;
    align-items: center;
    background-image: url("./images/background.png"), linear-gradient(45deg, rgb(8, 8, 8), rgb(53,53,53));
    
}
.banner-img-1{
    width: 300px;
}
.banner-text{
    color: white;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.description{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
.btn{
    color: white;
    background-color: red;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
}